html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#filters-input-wrapper {
    width: 500px;
    height: 300px;
    border: 1px solid #ccc;
    position: relative;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

pre, textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    white-space: pre-wrap;
    word-wrap:break-word;
    font-size: 13px;
    font-family: monospace;
    padding: 5px;
}

#filters-input-editor {
    color: rgba(255, 255, 255, 0);
    caret-color: black;
    background-color: transparent;
    z-index: 2;
}

#filters-input-result {
    z-index: 1;
    position: relative;
}

.token, .token-spaces {
    padding-top: 4px;
    padding-bottom: 2px;
}

.token-error-message {
    margin-top: 24px;
    width: 100%;
    color: red;
}

.unexpected {
    border-bottom: solid 2px red;
}

.token.Token_Empty_Str,
.token.Token_Incomplete_Str,
.token.Token_String,
.token.Token_Term {
    color: darkorange;
}

.token.Token_Error {
    color: red;
}


.token.Token_Open_Backet,
.token.Token_Close_Bracket,
.token.Token_Open_Angled_Bracket,
.token.Token_Close_Angled_Bracket,
.token.Token_Coma,
.token.Token_Facet_Separator {
    color: blue;
}

.token.Token_Num {
    color: blueviolet;
}

.token.Token_OR,
.token.Token_AND,
.token.Token_NOT,
.token.Token_Operator,
.token.Token_Range {
    color: green;
}

.Token_EOF {
    color: transparent;
}